@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media screen and (max-width: 980px) {
  #main-navbar .nav-item {
    font-size: 2rem !important;
  }

  #main-navbar .nav-link img {
    width: 0.8em !important;
    height: auto !important;
  }

  #main-navbar .nav-item.dropdown ul li a {
    font-size: 1.8em;
    font-weight: bold;
    font-family: ZnikomitNo24, serif;;
  }

  #main-navbar .dropdown:hover>.dropdown-menu {
    background: none;
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 1.3rem;
  }

  .filter-category .dropdown:hover>.dropdown-menu {
    position: relative;
    display: block;
  }

  //#main-navbar {
  //  padding-bottom: 0 !important;
  //  box-shadow: 0 30px 3em 0;
  //}
}

#main-navbar {
  padding-bottom: 0 !important;
  //box-shadow: 0 0 2em 0 #fcf260;
}

@media screen and (min-width: 768px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

#main-navbar nav.navbar {
  box-shadow: 0 25px 15px -20px #00000080;
  padding: 8px 0 0 0;
  width: 50%;
  opacity: 0.8;
}

nav .nav-link, nav a.dropdown-item {
  font-family: "Comfortaa", serif !important;
  border-radius: 5px;

}

#main-navbar nav ul.dropdown-menu {
  background: rgba(255,255,255,0.9);
  padding: 5px;
  box-shadow: 0 5px 25px 10px #00000080;
}

#main-navbar .nav-item {
  font-weight: 600;
  font-size: 16px;
}

#main-navbar .nav-item .nav-link:hover {
  font-weight: 600 !important;
}

#main-navbar .dropdown-item:focus, #main-navbar .dropdown-item:hover {
  background-color: #fcf260; // #f2e93f; // #fac989;
}

#main-navbar .navbar .nav-item .nav-link {
  padding-top: 4px;
}

#main-navbar .navbar .nav-item .nav-link span {
  position: relative;
  top: 4px;
}

#main-navbar .navbar form.search .form-control {
  padding: 2px;
}

.page_filter {
  display: inline-block;
}

#main-navbar .nav-link img {
  position: relative;
  top: -5px;
}

// Christmas lights
$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(245, 215, 44,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(245, 215, 44,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 {
  0%, 100% { background: rgba(245, 215, 44,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(245, 215, 44,1);}
  50% { background: rgba(245, 215, 44,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(245, 215, 44,0.2);}
}
@keyframes flash-2 {
  0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);}
  50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 {
  0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);}
  50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}