@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media screen and (max-width: 980px) {
  #main-navbar .nav-item {
    font-size: 2rem !important;
  }

  #main-navbar .nav-link img {
    width: 0.8em !important;
    height: auto !important;
  }

  #main-navbar .nav-item.dropdown ul li a {
    font-size: 1.8em;
    font-weight: bold;
    font-family: ZnikomitNo24, serif;;
  }

  #main-navbar .dropdown:hover>.dropdown-menu {
    background: none;
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 1.3rem;
  }

  .filter-category .dropdown:hover>.dropdown-menu {
    position: relative;
    display: block;
  }

  #main-navbar {
  //  display: flex;
  //  width: 64px;
  //  height: 64px;
  //  justify-content: center;
  //  align-items: center;
  //  top: -64px;
  //  width: 50%;
  //  opacity: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

#main-navbar nav.navbar {
  box-shadow: 0 25px 15px -20px #00000080;
  padding: 8px 0 0 0;
  width: 50%;
  opacity: 0.8;
}

nav .nav-link, nav a.dropdown-item {
  font-family: "Comfortaa", serif !important;
  border-radius: 5px;

}

#main-navbar nav ul.dropdown-menu {
  background: rgba(255,255,255,0.9);
  padding: 5px;
  box-shadow: 0 5px 25px 10px #00000080;
}

#main-navbar .nav-item {
  font-weight: 600;
  font-size: 16px;
}

#main-navbar .nav-item .nav-link:hover {
  font-weight: 600 !important;
}

#main-navbar .dropdown-item:focus, #main-navbar .dropdown-item:hover {
  background-color: #fcf260; // #f2e93f; // #fac989;
}

#main-navbar .navbar .nav-item .nav-link {
  padding-top: 4px;
}

#main-navbar .navbar .nav-item .nav-link span {
  position: relative;
  top: 4px;
}

#main-navbar .navbar form.search .form-control {
  padding: 2px;
}

.page_filter {
  display: inline-block;
}

#main-navbar .nav-link img {
  position: relative;
  top: -5px;
}