@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media screen and (min-width: 768px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

nav.navbar {
  background-color: #fcf260; // #FADEB9;
  box-shadow: 0 25px 15px -20px #00000080;
  padding: 0;
}

nav .nav-link, nav a.dropdown-item {
  font-family: "Comfortaa", serif !important;
  border-radius: 5px;

}

nav ul.dropdown-menu {
  background: rgba(255,255,255,0.9);
  padding: 5px;
  box-shadow: 0 5px 25px 10px #00000080;
}

.nav-item {
  font-weight: 600;
}

.nav-item .nav-link:hover {
  font-weight: 600 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #fcf260; // #f2e93f; // #fac989;
}

.navbar .nav-item .nav-link {
  padding-top: 4px;
}

.navbar .nav-item .nav-link span {
  position: relative;
  top: 4px;
}

.navbar form.search .form-control {
  padding: 2px;
}