//@media (min-width: 320px) and (max-width: 480px) {
//  #products-wrapper .product.column {
//    width: 100% !important;
//  }
//
//  .w-100 {
//    width: 65%!important;
//    margin: 0 auto;
//  }
//
//  #products-wrapper .product .column .headline.title {
//    font-size: 36px;
//  }
//
//  #products-wrapper .product .column .headline.subtitle {
//    font-size: 26px;
//  }
//
//  .product .product-description {
//    font-size: 24px;
//    height: 260px;
//    margin-top: 20px;
//    line-height: 1.2;
//  }
//
//  #products-wrapper .product-details {
//    font-size: 32px;
//    line-height: 1.2em;
//  }
//
//  #products-wrapper .product-order button {
//    font-size: 40px;
//    text-transform: uppercase;
//    height: 100px;
//  }
//
//  .navbar {
//    width: 80px;
//    position: relative;
//    left: 0;
//    display: inline-block;
//    top: -40px;
//  }
//.container, .container-md, .container-sm {
//  max-width: 100%;
//}
//}

.products-description {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  font-family: ZnikomitNo24, serif;
}

#products-wrapper {
  //width: 1200px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

#products-wrapper .product {
  font-family: ZnikomitNo24, serif;
}

#products-wrapper .description {
  width: 100%;
}

#products-wrapper .products .row {
  margin: 0;
}

#products-wrapper .product.column {
  width: 50%;
  padding: 10px;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}

#products-wrapper .product .column .headline.title {
  font-family: ZnikomitNo24, serif;
  font-size: 24px;
}

#products-wrapper .product .column .headline.subtitle {
  font-family: ZnikomitNo24, serif;
  font-size: 16px;
}

#products-wrapper .product.column.left {
  float: left;
  width: 33%;
}

#products-wrapper .product.column.right {
  float: right;
  width: 33%;
}

#products-wrapper .products-pagination {
  padding: 20px 0;
}

.column {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  display: inline-block;
  padding: 0 1% 0 1%;
  //vertical-align: top;
  margin-bottom: 40px;
  transition: all .7s;
}

.column + .column {
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  //border-top: 1px solid #ababab;
}

.column .headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;


}

.column .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;

}

.column .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;

}

.column .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;

}

.column .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.column .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;

}

.column .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}

.column .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .headline.hl10 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.column .citation {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 44px;
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";

}

.column .citation:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.column .citation:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.column .figure {
  margin: 0 0 20px;
}

.column .figcaption {
  font-style: italic;
  font-size: 12px;
}

.product-carousel {
  width: 70%;
  height: 260px;
  margin: 0 auto;
}

.product .product-description,
.product .product-ingredients,
.product .product-recommended-use,
.product .product-storage-conditions,
.product .product-main-characteristics {
  padding: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 160px;
  font-size: 15px;
}

#products-wrapper .product-details {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
}

#products-wrapper .product-details .left {
  float: left;
  width: 33%;
}

#products-wrapper .product-details .right {
  float: right;
  width: 33%;
}

#products-wrapper .product-details .product-code {
  width: 25%;
  cursor: default;
}

#products-wrapper .product-details .product-amount {
  width: 42%;
  cursor: default;
}

.product-details .product-price {
  border-radius: 50%;
  background-color: #fcf260; // #FFCA2A;
  padding: 15px 0;
  position: relative;
  top: -15px;
  cursor: default;
}

.product-details .product-price .tooltiptext {
  visibility: hidden;
  width: 220px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  top: -42px;
  left: 96px;
}

.product-details .product-price:hover .tooltiptext {
  visibility: visible;
  cursor: default;
}

#products-wrapper .product-order {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#products-wrapper .product-order button {
  width: 80%;
  text-transform: uppercase;
  font-size: 18px;
}
#products-wrapper .product-order button#more {
  color: #000;
}

.product-detail {
  margin-left: 5px;
}

// Modal
.modal-body {
  padding-bottom: 0;
}

.product-modal .modal-dialog .btn-close {
  position: relative;
  right: -94%;
  background-color: #0dcaf0;
  border-radius: 50%;
  padding: 12px;
  opacity: 1;
}

.product-modal .modal-dialog .btn-close:hover {
  opacity: 0.8;
}

.modal-body .product .product-description {
  height: auto;
}

.modal.show .modal-dialog {
  max-width: 34%;
}

.request {
  margin-bottom: 1em;
}

.request-modal .modal-dialog {
  max-width: 500px !important;
}

.modal-dialog .modal-body div input,
.modal-dialog .modal-body div textarea,
.modal-dialog .modal-body div label {
  width: 100%;
}

.modal-body .product .product-description,
.modal-body .product .product-ingredients,
.modal-body .product .product-recommended-use,
.modal-body .product .product-storage-conditions,
.modal-body .product .product-main-characteristics {
  height: auto;
}

.modal-body .product .product-description {
  margin-top: 20px;
}

.modal-body .product b {
  font-size: 16px;
}

.modal-body .column {
  margin: 0;
}

.modal-body .head .title {
  font-size: 26px;
  text-transform: uppercase;
  font-family: ZnikomitNo24, serif;
  text-align: center;
}

.modal-body .product-details .product-price .tooltiptext {
  left: 140px;
  top: -30px;
}

.modal-body .required input, .modal-body .required textarea {
  font-family: ZnikomitNo24, serif;
}

.modal-body .carousel {
  width: 60%;
  margin: 0 auto;
}

.modal-body .message {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #50d975;
}

.request-modal .modal-dialog .btn-close {
  position: relative;
  right: -92%;
  border-radius: 50%;
  padding: 12px;
  opacity: 1;
}

.request-modal .modal-dialog .btn-close:hover {
  opacity: 0.8;
}

nav.filter-category.navbar {
  background-color: initial !important;
  box-shadow: initial;
}

nav.filter-category.navbar .dropdown-item:focus, nav.filter-category.navbar .dropdown-item:hover {
  background-color: #fcf260; // #f2e93f; // #fac989;
}

.filters {
  text-align: right;
  padding-right: 15px;
}

.filter-category {
  display: inline-block;
}

.filter-per-page {
  display: inline-block;
}

.filter-per-page button {
  font-weight: bold;
}