{% block header %}
<header>
    {#    <div id="header-left">#}
    {#        <img src="{{ asset('images/header/left1.png') }}" alt="aloe vera left">#}
    {#    </div>#}
    <div id="header-center">
        <a id="flp-header" href="{{ path('app_home') }}">
            <img alt="Forever Living Logo" src="https://cdn.foreverliving.com/flpi/logo/foreverliving-eCom-logo.svg">
        </a>
        <div id="flp-header-title" style="font-family: ZnikomitNo24,serif;">Официален представител</div>
    </div>
    {#    <div id="header-right">#}
    {#        <img src="{{ asset('images/header/right1.png') }}" alt="aloe vera right">#}
    {#    </div>#}
</header>
{% endblock %}